DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=bank_transfer_db
JWT_SECRET = 59ef27ea08ac4f4a836fa53e1aeb387d

OTEL_SERVICE_NAME=bank-transfer-api
OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317 
OTEL_EXPORTER_OTLP_INSECURE=true
APP_ENV=development
LOG_LEVEL=info